/* ============================================================

Roadhouse Mobile by fabrice Million
Version: 1.0

============================================================ */
/* Reset =================================================== */
/* line 12, ../scss/partials/_reset.scss */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 15, ../scss/partials/_reset.scss */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* Variables =================================================== */
/* Mixins =================================================== */
/* line 82, ../scss/partials/_mixins.scss */
.clearfix {
  *zoom: 1;
}
/* line 76, ../scss/partials/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 79, ../scss/partials/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* Page =================================================== */
/* line 14, ../scss/partials/_site.scss */
html {
  background: transparent;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 22, ../scss/partials/_site.scss */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: "Helvetica W01 Roman", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  color: white;
}

/*
* css Extracted from jQuery Mobile Framework
* Copyright (c) jQuery Project
*/
/* line 5, ../scss/partials/_transitions.scss */
.spin {
  -webkit-transform: rotate(360deg);
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-transform: rotate(360deg);
  -moz-animation-name: spin;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes spin {
  /* line 18, ../scss/partials/_transitions.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 19, ../scss/partials/_transitions.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  /* line 22, ../scss/partials/_transitions.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 23, ../scss/partials/_transitions.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}

/* Transitions from jQtouch (with small modifications): http://www.jqtouch.com/
Built by David Kaneda and maintained by Jonathan Stark.
*/
/* line 29, ../scss/partials/_transitions.scss */
.in, .out {
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 705ms;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-duration: 705ms;
}

/* line 37, ../scss/partials/_transitions.scss */
.slide.out {
  -webkit-transform: translateX(-100%);
  -webkit-animation-name: slideouttoleft;
  -moz-transform: translateX(-100%);
  -moz-animation-name: slideouttoleft;
}

/* line 44, ../scss/partials/_transitions.scss */
.slide.in {
  -webkit-transform: translateX(0);
  -webkit-animation-name: slideinfromright;
  -moz-transform: translateX(0);
  -moz-animation-name: slideinfromright;
}

/* line 51, ../scss/partials/_transitions.scss */
.slide.out.reverse {
  -webkit-transform: translateX(100%);
  -webkit-animation-name: slideouttoright;
  -moz-transform: translateX(100%);
  -moz-animation-name: slideouttoright;
}

/* line 58, ../scss/partials/_transitions.scss */
.slide.in.reverse {
  -webkit-transform: translateX(0);
  -webkit-animation-name: slideinfromleft;
  -moz-transform: translateX(0);
  -moz-animation-name: slideinfromleft;
}

/* line 65, ../scss/partials/_transitions.scss */
.slideup.out {
  -webkit-animation-name: dontmove;
  -moz-animation-name: dontmove;
  z-index: 0;
}

/* line 71, ../scss/partials/_transitions.scss */
.slideup.in {
  -webkit-transform: translateY(0);
  -webkit-animation-name: slideinfrombottom;
  -moz-transform: translateY(0);
  -moz-animation-name: slideinfrombottom;
  z-index: 10;
}

/* line 79, ../scss/partials/_transitions.scss */
.slideup.in.reverse {
  z-index: 0;
  -webkit-animation-name: dontmove;
  -moz-animation-name: dontmove;
}

/* line 85, ../scss/partials/_transitions.scss */
.slideup.out.reverse {
  -webkit-transform: translateY(100%);
  z-index: 10;
  -webkit-animation-name: slideouttobottom;
  -moz-transform: translateY(100%);
  -moz-animation-name: slideouttobottom;
}

/* line 93, ../scss/partials/_transitions.scss */
.slidedown.out {
  -webkit-animation-name: dontmove;
  -moz-animation-name: dontmove;
  z-index: 0;
}

/* line 99, ../scss/partials/_transitions.scss */
.slidedown.in {
  -webkit-transform: translateY(0);
  -webkit-animation-name: slideinfromtop;
  -moz-transform: translateY(0);
  -moz-animation-name: slideinfromtop;
  z-index: 10;
}

/* line 107, ../scss/partials/_transitions.scss */
.slidedown.in.reverse {
  z-index: 0;
  -webkit-animation-name: dontmove;
  -moz-animation-name: dontmove;
}

/* line 113, ../scss/partials/_transitions.scss */
.slidedown.out.reverse {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  z-index: 10;
  -webkit-animation-name: slideouttotop;
  -moz-animation-name: slideouttotop;
}

@-webkit-keyframes slideinfromright {
  /* line 122, ../scss/partials/_transitions.scss */
  from {
    -webkit-transform: translateX(100%);
  }

  /* line 123, ../scss/partials/_transitions.scss */
  to {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes slideinfromleft {
  /* line 127, ../scss/partials/_transitions.scss */
  from {
    -webkit-transform: translateX(-100%);
  }

  /* line 128, ../scss/partials/_transitions.scss */
  to {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes slideouttoleft {
  /* line 132, ../scss/partials/_transitions.scss */
  from {
    -webkit-transform: translateX(0);
  }

  /* line 133, ../scss/partials/_transitions.scss */
  to {
    -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes slideouttoright {
  /* line 137, ../scss/partials/_transitions.scss */
  from {
    -webkit-transform: translateX(0);
  }

  /* line 138, ../scss/partials/_transitions.scss */
  to {
    -webkit-transform: translateX(100%);
  }
}

@-webkit-keyframes slideinfromtop {
  /* line 142, ../scss/partials/_transitions.scss */
  from {
    -webkit-transform: translateY(-100%);
  }

  /* line 143, ../scss/partials/_transitions.scss */
  to {
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes slideinfrombottom {
  /* line 147, ../scss/partials/_transitions.scss */
  from {
    -webkit-transform: translateY(100%);
  }

  /* line 148, ../scss/partials/_transitions.scss */
  to {
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes slideouttobottom {
  /* line 154, ../scss/partials/_transitions.scss */
  from {
    -webkit-transform: translateY(0);
  }

  /* line 155, ../scss/partials/_transitions.scss */
  to {
    -webkit-transform: translateY(100%);
  }
}

@-webkit-keyframes slideouttotop {
  /* line 159, ../scss/partials/_transitions.scss */
  from {
    -webkit-transform: translateY(0);
  }

  /* line 160, ../scss/partials/_transitions.scss */
  to {
    -webkit-transform: translateY(-100%);
  }
}

@-webkit-keyframes fadein {
  /* line 163, ../scss/partials/_transitions.scss */
  from {
    opacity: 0;
  }

  /* line 164, ../scss/partials/_transitions.scss */
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  /* line 168, ../scss/partials/_transitions.scss */
  from {
    opacity: 1;
  }

  /* line 169, ../scss/partials/_transitions.scss */
  to {
    opacity: 0;
  }
}

@-moz-keyframes slideinfromright {
  /* line 173, ../scss/partials/_transitions.scss */
  from {
    -moz-transform: translateX(100%);
  }

  /* line 174, ../scss/partials/_transitions.scss */
  to {
    -moz-transform: translateX(0);
  }
}

@-moz-keyframes slideinfromleft {
  /* line 178, ../scss/partials/_transitions.scss */
  from {
    -moz-transform: translateX(-100%);
  }

  /* line 179, ../scss/partials/_transitions.scss */
  to {
    -moz-transform: translateX(0);
  }
}

@-moz-keyframes slideouttoleft {
  /* line 183, ../scss/partials/_transitions.scss */
  from {
    -moz-transform: translateX(0);
  }

  /* line 184, ../scss/partials/_transitions.scss */
  to {
    -moz-transform: translateX(-100%);
  }
}

@-moz-keyframes slideouttoright {
  /* line 188, ../scss/partials/_transitions.scss */
  from {
    -moz-transform: translateX(0);
  }

  /* line 189, ../scss/partials/_transitions.scss */
  to {
    -moz-transform: translateX(100%);
  }
}

@-moz-keyframes slideinfromtop {
  /* line 193, ../scss/partials/_transitions.scss */
  from {
    -moz-transform: translateY(-100%);
  }

  /* line 194, ../scss/partials/_transitions.scss */
  to {
    -moz-transform: translateY(0);
  }
}

@-moz-keyframes slideinfrombottom {
  /* line 198, ../scss/partials/_transitions.scss */
  from {
    -moz-transform: translateY(100%);
  }

  /* line 199, ../scss/partials/_transitions.scss */
  to {
    -moz-transform: translateY(0);
  }
}

@-moz-keyframes slideouttobottom {
  /* line 202, ../scss/partials/_transitions.scss */
  from {
    -moz-transform: translateY(0);
  }

  /* line 203, ../scss/partials/_transitions.scss */
  to {
    -moz-transform: translateY(100%);
  }
}

@-moz-keyframes slideouttotop {
  /* line 207, ../scss/partials/_transitions.scss */
  from {
    -moz-transform: translateY(0);
  }

  /* line 208, ../scss/partials/_transitions.scss */
  to {
    -moz-transform: translateY(-100%);
  }
}

@-moz-keyframes fadein {
  /* line 211, ../scss/partials/_transitions.scss */
  from {
    opacity: 0;
  }

  /* line 212, ../scss/partials/_transitions.scss */
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeout {
  /* line 216, ../scss/partials/_transitions.scss */
  from {
    opacity: 1;
  }

  /* line 217, ../scss/partials/_transitions.scss */
  to {
    opacity: 0;
  }
}

/* line 219, ../scss/partials/_transitions.scss */
.fade.out {
  z-index: 0;
  -webkit-animation-name: fadeout;
  -moz-animation-name: fadeout;
}

/* line 225, ../scss/partials/_transitions.scss */
.fade.in {
  opacity: 1;
  z-index: 10;
  -webkit-animation-name: fadein;
  -moz-animation-name: fadein;
}

/* The properties in this rule are only necessary for the 'flip' transition.
 * We need specify the perspective to create a projection matrix. This will add
 * some depth as the element flips. The depth number represents the distance of
 * the viewer from the z-plane. According to the CSS3 spec, 1000 is a moderate
 * value.
 */
/* line 238, ../scss/partials/_transitions.scss */
.viewport-flip {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  position: absolute;
}

/* line 245, ../scss/partials/_transitions.scss */
.ui-mobile-viewport-transitioning,
.ui-mobile-viewport-transitioning .ui-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 251, ../scss/partials/_transitions.scss */
.flip {
  -webkit-animation-duration: .65s;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateX(0);
  /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -webkit-visibility:hidden is used. */
  -moz-animation-duration: .65s;
  -moz-backface-visibility: hidden;
  -moz-transform: translateX(0);
  /* Needed to work around an iOS 3.1 bug that causes listview thumbs to disappear when -moz-visibility:hidden is used. */
}

/* line 260, ../scss/partials/_transitions.scss */
.flip.out {
  -webkit-transform: rotateY(-180deg) scale(0.8);
  -webkit-animation-name: flipouttoleft;
  -moz-transform: rotateY(-180deg) scale(0.8);
  -moz-animation-name: flipouttoleft;
}

/* line 267, ../scss/partials/_transitions.scss */
.flip.in {
  -webkit-transform: rotateY(0) scale(1);
  -webkit-animation-name: flipinfromleft;
  -moz-transform: rotateY(0) scale(1);
  -moz-animation-name: flipinfromleft;
}

/* Shake it all about */
/* line 275, ../scss/partials/_transitions.scss */
.flip.out.reverse {
  -webkit-transform: rotateY(180deg) scale(0.8);
  -webkit-animation-name: flipouttoright;
  -moz-transform: rotateY(180deg) scale(0.8);
  -moz-animation-name: flipouttoright;
}

/* line 282, ../scss/partials/_transitions.scss */
.flip.in.reverse {
  -webkit-transform: rotateY(0) scale(1);
  -webkit-animation-name: flipinfromright;
  -moz-transform: rotateY(0) scale(1);
  -moz-animation-name: flipinfromright;
}

@-webkit-keyframes flipinfromright {
  /* line 290, ../scss/partials/_transitions.scss */
  from {
    -webkit-transform: rotateY(-180deg) scale(0.8);
  }

  /* line 291, ../scss/partials/_transitions.scss */
  to {
    -webkit-transform: rotateY(0) scale(1);
  }
}

@-webkit-keyframes flipinfromleft {
  /* line 295, ../scss/partials/_transitions.scss */
  from {
    -webkit-transform: rotateY(180deg) scale(0.8);
  }

  /* line 296, ../scss/partials/_transitions.scss */
  to {
    -webkit-transform: rotateY(0) scale(1);
  }
}

@-webkit-keyframes flipouttoleft {
  /* line 300, ../scss/partials/_transitions.scss */
  from {
    -webkit-transform: rotateY(0) scale(1);
  }

  /* line 301, ../scss/partials/_transitions.scss */
  to {
    -webkit-transform: rotateY(-180deg) scale(0.8);
  }
}

@-webkit-keyframes flipouttoright {
  /* line 305, ../scss/partials/_transitions.scss */
  from {
    -webkit-transform: rotateY(0) scale(1);
  }

  /* line 306, ../scss/partials/_transitions.scss */
  to {
    -webkit-transform: rotateY(180deg) scale(0.8);
  }
}

@-moz-keyframes flipinfromright {
  /* line 309, ../scss/partials/_transitions.scss */
  from {
    -moz-transform: rotateY(-180deg) scale(0.8);
  }

  /* line 310, ../scss/partials/_transitions.scss */
  to {
    -moz-transform: rotateY(0) scale(1);
  }
}

@-moz-keyframes flipinfromleft {
  /* line 314, ../scss/partials/_transitions.scss */
  from {
    -moz-transform: rotateY(180deg) scale(0.8);
  }

  /* line 315, ../scss/partials/_transitions.scss */
  to {
    -moz-transform: rotateY(0) scale(1);
  }
}

@-moz-keyframes flipouttoleft {
  /* line 319, ../scss/partials/_transitions.scss */
  from {
    -moz-transform: rotateY(0) scale(1);
  }

  /* line 320, ../scss/partials/_transitions.scss */
  to {
    -moz-transform: rotateY(-180deg) scale(0.8);
  }
}

@-moz-keyframes flipouttoright {
  /* line 324, ../scss/partials/_transitions.scss */
  from {
    -moz-transform: rotateY(0) scale(1);
  }

  /* line 325, ../scss/partials/_transitions.scss */
  to {
    -moz-transform: rotateY(180deg) scale(0.8);
  }
}

/* Hackish, but reliable. */
@-webkit-keyframes dontmove {
  /* line 332, ../scss/partials/_transitions.scss */
  from {
    opacity: 1;
  }

  /* line 333, ../scss/partials/_transitions.scss */
  to {
    opacity: 1;
  }
}

@-moz-keyframes dontmove {
  /* line 336, ../scss/partials/_transitions.scss */
  from {
    opacity: 1;
  }

  /* line 337, ../scss/partials/_transitions.scss */
  to {
    opacity: 1;
  }
}

/* line 340, ../scss/partials/_transitions.scss */
.pop {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
}

/* line 345, ../scss/partials/_transitions.scss */
.pop.in {
  -webkit-transform: scale(1);
  opacity: 1;
  -webkit-animation-name: popin;
  z-index: 10;
  -moz-transform: scale(1);
  -moz-animation-name: popin;
}

/* line 354, ../scss/partials/_transitions.scss */
.pop.in.reverse {
  z-index: 0;
  -webkit-animation-name: dontmove;
  -moz-animation-name: dontmove;
}

/* line 360, ../scss/partials/_transitions.scss */
.pop.out.reverse {
  -webkit-transform: scale(0.2);
  opacity: 0;
  -webkit-animation-name: popout;
  z-index: 10;
  -moz-transform: scale(0.2);
  -moz-animation-name: popout;
}

@-webkit-keyframes popin {
  /* line 370, ../scss/partials/_transitions.scss */
  from {
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    opacity: 0;
  }

  /* line 375, ../scss/partials/_transitions.scss */
  to {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes popout {
  /* line 383, ../scss/partials/_transitions.scss */
  from {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1;
  }

  /* line 388, ../scss/partials/_transitions.scss */
  to {
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    opacity: 0;
  }
}

/* Colour =================================================== */
/* line 16, ../scss/partials/_colour.scss */
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: white;
}
/* line 21, ../scss/partials/_colour.scss */
a:visited {
  color: #cccccc;
}
/* line 24, ../scss/partials/_colour.scss */
a:hover {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  color: #e6e6e6;
}
/* line 29, ../scss/partials/_colour.scss */
a:focus {
  outline: thin dotted;
  color: #b3b3b3;
}
/* line 34, ../scss/partials/_colour.scss */
a:hover, a:active {
  outline: 0;
}

/* line 38, ../scss/partials/_colour.scss */
::-moz-selection {
  background-color: #d6dbe1;
  color: #2d353e;
  text-shadow: none;
}

/* line 43, ../scss/partials/_colour.scss */
::selection {
  background-color: #d6dbe1;
  color: #2d353e;
  text-shadow: none;
}

/* line 50, ../scss/partials/_colour.scss */
.swatch {
  margin: 0 0 1.5em 0;
  padding: 0;
}

/* line 54, ../scss/partials/_colour.scss */
.swatch-row {
  display: block;
  margin: 0;
  padding: 0;
  width: 200px;
}

/* line 60, ../scss/partials/_colour.scss */
.swatch-row-one {
  background-color: black;
}

/* line 63, ../scss/partials/_colour.scss */
.swatch-row-two {
  background-color: white;
}

/* line 66, ../scss/partials/_colour.scss */
.swatch-row span {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
}

/* line 74, ../scss/partials/_colour.scss */
.swatch-base span:nth-child(1) {
  background-color: rgba(45, 53, 62, 0.9);
}

/* line 77, ../scss/partials/_colour.scss */
.swatch-base span:nth-child(2) {
  background-color: rgba(45, 53, 62, 0.8);
}

/* line 80, ../scss/partials/_colour.scss */
.swatch-base span:nth-child(3) {
  background-color: rgba(45, 53, 62, 0.7);
}

/* line 83, ../scss/partials/_colour.scss */
.swatch-base span:nth-child(4) {
  background-color: rgba(45, 53, 62, 0.6);
}

/* line 88, ../scss/partials/_colour.scss */
.swatch-alert span:nth-child(1) {
  background-color: rgba(252, 248, 227, 0.9);
}

/* line 91, ../scss/partials/_colour.scss */
.swatch-alert span:nth-child(2) {
  background-color: rgba(252, 248, 227, 0.8);
}

/* line 94, ../scss/partials/_colour.scss */
.swatch-alert span:nth-child(3) {
  background-color: rgba(252, 248, 227, 0.7);
}

/* line 97, ../scss/partials/_colour.scss */
.swatch-alert span:nth-child(4) {
  background-color: rgba(252, 248, 227, 0.6);
}

/* line 102, ../scss/partials/_colour.scss */
.swatch-error span:nth-child(1) {
  background-color: rgba(218, 79, 73, 0.9);
}

/* line 105, ../scss/partials/_colour.scss */
.swatch-error span:nth-child(2) {
  background-color: rgba(218, 79, 73, 0.8);
}

/* line 108, ../scss/partials/_colour.scss */
.swatch-error span:nth-child(3) {
  background-color: rgba(218, 79, 73, 0.7);
}

/* line 111, ../scss/partials/_colour.scss */
.swatch-error span:nth-child(4) {
  background-color: rgba(218, 79, 73, 0.6);
}

/* line 116, ../scss/partials/_colour.scss */
.swatch-info span:nth-child(1) {
  background-color: rgba(217, 237, 247, 0.9);
}

/* line 119, ../scss/partials/_colour.scss */
.swatch-info span:nth-child(2) {
  background-color: rgba(217, 237, 247, 0.8);
}

/* line 122, ../scss/partials/_colour.scss */
.swatch-info span:nth-child(3) {
  background-color: rgba(217, 237, 247, 0.7);
}

/* line 125, ../scss/partials/_colour.scss */
.swatch-info span:nth-child(4) {
  background-color: rgba(217, 237, 247, 0.6);
}

/* line 130, ../scss/partials/_colour.scss */
.swatch-success span:nth-child(1) {
  background-color: rgba(91, 183, 91, 0.9);
}

/* line 133, ../scss/partials/_colour.scss */
.swatch-success span:nth-child(2) {
  background-color: rgba(91, 183, 91, 0.8);
}

/* line 136, ../scss/partials/_colour.scss */
.swatch-success span:nth-child(3) {
  background-color: rgba(91, 183, 91, 0.7);
}

/* line 139, ../scss/partials/_colour.scss */
.swatch-success span:nth-child(4) {
  background-color: rgba(91, 183, 91, 0.6);
}

/* line 144, ../scss/partials/_colour.scss */
.swatch-warning span:nth-child(1) {
  background-color: rgba(250, 167, 50, 0.9);
}

/* line 147, ../scss/partials/_colour.scss */
.swatch-warning span:nth-child(2) {
  background-color: rgba(250, 167, 50, 0.8);
}

/* line 150, ../scss/partials/_colour.scss */
.swatch-warning span:nth-child(3) {
  background-color: rgba(250, 167, 50, 0.7);
}

/* line 153, ../scss/partials/_colour.scss */
.swatch-warning span:nth-child(4) {
  background-color: rgba(250, 167, 50, 0.6);
}

/* Elements =================================================== */
/* line 14, ../scss/partials/_elements.scss */
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #c7ced6;
  border-bottom: 1px solid white;
}

/* line 25, ../scss/partials/_elements.scss */
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* line 31, ../scss/partials/_elements.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 36, ../scss/partials/_elements.scss */
figure {
  margin-bottom: 1.5em;
}
/* line 39, ../scss/partials/_elements.scss */
figure img {
  margin-bottom: 0.375em;
}
/* line 42, ../scss/partials/_elements.scss */
figure figcaption {
  display: block;
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4rem;
  color: gray;
}

/* line 51, ../scss/partials/_elements.scss */
.list-bordered {
  list-style-type: none;
  margin: 0 0 1.5em 0;
  padding: 0;
}
/* line 56, ../scss/partials/_elements.scss */
.list-bordered li {
  margin-bottom: 0.375em;
  padding-bottom: 0.375em;
  border-bottom: 1px dashed #c7ced6;
}
/* line 61, ../scss/partials/_elements.scss */
.list-bordered li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom-width: 0;
}

/* Forms =================================================== */
/* line 12, ../scss/partials/_forms.scss */
form {
  margin: 0 0 1.5em 0;
}
/* line 15, ../scss/partials/_forms.scss */
form fieldset {
  margin-bottom: 1.5em;
  padding: 0;
  border-width: 0;
}
/* line 20, ../scss/partials/_forms.scss */
form legend {
  display: block;
  width: 100%;
  margin-bottom: 3em;
  *margin-left: -7px;
  padding: 0;
  color: white;
  border: 0;
  border-bottom: 1px solid #8c9bab;
  white-space: normal;
}
/* line 31, ../scss/partials/_forms.scss */
form legend small {
  font-size: 14px;
  font-size: 1.4rem;
  color: #bfbfbf;
}
/* line 36, ../scss/partials/_forms.scss */
form p {
  margin-bottom: 0.75em;
}
/* line 39, ../scss/partials/_forms.scss */
form ul {
  list-style-type: none;
  margin: 0 0 1.5em 0;
  padding: 0;
}
/* line 44, ../scss/partials/_forms.scss */
form br {
  display: none;
}

/* line 52, ../scss/partials/_forms.scss */
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-size: 1.4rem;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 60, ../scss/partials/_forms.scss */
input,
button,
select,
textarea {
  font-family: "Helvetica W01 Roman", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 64, ../scss/partials/_forms.scss */
label {
  display: block;
  margin-bottom: 0.1875em;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
/* line 73, ../scss/partials/_forms.scss */
label input,
label textarea,
label select {
  display: block;
}

/* line 79, ../scss/partials/_forms.scss */
input,
textarea,
select {
  display: inline-block;
  width: 100%;
  padding: 4px;
  margin-bottom: 0.375em;
  background-color: white;
  border: 1px solid #8c9bab;
  color: white;
}
/* line 88, ../scss/partials/_forms.scss */
input:hover,
textarea:hover,
select:hover {
  border-color: #586879;
}

/* line 92, ../scss/partials/_forms.scss */
.input-mini {
  width: 60px;
}

/* line 95, ../scss/partials/_forms.scss */
.input-small {
  width: 90px;
}

/* line 100, ../scss/partials/_forms.scss */
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0 \9;
}

/* line 112, ../scss/partials/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 118, ../scss/partials/_forms.scss */
input[type="image"] {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 122, ../scss/partials/_forms.scss */
input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: transparent;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 133, ../scss/partials/_forms.scss */
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
  cursor: pointer;
  *overflow: visible;
}

/* line 140, ../scss/partials/_forms.scss */
select,
input[type="file"] {
  height: 28px;
  *margin-top: 4px;
  line-height: 28px;
}

/* line 145, ../scss/partials/_forms.scss */
select {
  width: auto;
  background-color: white;
  font-size: 13px;
  font-size: 1.3rem;
}

/* line 151, ../scss/partials/_forms.scss */
select[multiple],
select[size] {
  height: auto;
}

/* line 154, ../scss/partials/_forms.scss */
textarea {
  resize: vertical;
  overflow: auto;
  height: auto;
  overflow: auto;
  vertical-align: top;
}

/* line 160, ../scss/partials/_forms.scss */
input[type="hidden"] {
  display: none;
}

/* line 164, ../scss/partials/_forms.scss */
.radio,
.checkbox {
  padding-left: 18px;
  font-weight: normal;
}

/* line 169, ../scss/partials/_forms.scss */
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}

/* line 174, ../scss/partials/_forms.scss */
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

/* line 181, ../scss/partials/_forms.scss */
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}

/* line 191, ../scss/partials/_forms.scss */
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: not-allowed;
}

/* line 198, ../scss/partials/_forms.scss */
input:focus,
textarea:focus {
  border-color: #2d353e, 40%;
  outline: 0;
  outline: thin dotted \9;
}

/* line 206, ../scss/partials/_forms.scss */
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 209, ../scss/partials/_forms.scss */
::-webkit-input-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 212, ../scss/partials/_forms.scss */
input:-moz-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 218, ../scss/partials/_forms.scss */
.help-block,
.help-inline {
  color: gray;
}

/* line 221, ../scss/partials/_forms.scss */
.help-block {
  display: block;
  margin-bottom: 0.75em;
}

/* line 225, ../scss/partials/_forms.scss */
.help-inline {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}

/* line 234, ../scss/partials/_forms.scss */
.form-inline input,
.form-inline textarea,
.form-inline select {
  display: inline-block;
  margin-bottom: 0;
}

/* line 238, ../scss/partials/_forms.scss */
.form-inline label {
  display: inline-block;
}

/* line 243, ../scss/partials/_forms.scss */
.form-inline .radio,
.form-inline .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

/* line 249, ../scss/partials/_forms.scss */
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}

/* line 258, ../scss/partials/_forms.scss */
.form-search input,
.form-search textarea,
.form-search select {
  display: inline-block;
  margin-bottom: 0;
}

/* line 262, ../scss/partials/_forms.scss */
.form-search .search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  -ms-border-radius: 14;
  -o-border-radius: 14;
  border-radius: 14;
}

/* line 268, ../scss/partials/_forms.scss */
.form-search label {
  display: inline-block;
}

/* line 273, ../scss/partials/_forms.scss */
.form-search .radio,
.form-search .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

/* line 279, ../scss/partials/_forms.scss */
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}

/* Tables =================================================== */
/* line 12, ../scss/partials/_tables.scss */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}
/* line 21, ../scss/partials/_tables.scss */
table th,
table td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #8c9bab;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
  text-align: left;
}
/* line 29, ../scss/partials/_tables.scss */
table th {
  font-weight: bold;
}
/* line 32, ../scss/partials/_tables.scss */
table thead th {
  vertical-align: bottom;
}
/* line 38, ../scss/partials/_tables.scss */
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
/* line 41, ../scss/partials/_tables.scss */
table tbody + tbody {
  border-top: 2px solid #8c9bab;
}
/* line 45, ../scss/partials/_tables.scss */
table tbody tr td,
table tbody tr th {
  -webkit-transition: background-color 0.25s 0;
  -webkit-transition-delay: linear;
  -moz-transition: background-color 0.25s 0 linear;
  -o-transition: background-color 0.25s 0 linear;
  transition: background-color 0.25s 0 linear;
}
/* line 49, ../scss/partials/_tables.scss */
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #a9b4c1;
}

/* line 58, ../scss/partials/_tables.scss */
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

/* line 64, ../scss/partials/_tables.scss */
.table-bordered {
  border: 1px solid #8c9bab;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed;
}
/* line 71, ../scss/partials/_tables.scss */
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #8c9bab;
}
/* line 76, ../scss/partials/_tables.scss */
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

/* line 85, ../scss/partials/_tables.scss */
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #c7ced6;
}

/* line 5, ../scss/partials/_page.scss */
html {
  -webkit-text-size-adjust: none;
}

/* line 10, ../scss/partials/_page.scss */
.legacy-ios {
  overflow-x: hidden;
}

/* line 14, ../scss/partials/_page.scss */
body {
  background: url('../img/bg_black_linen.jpg?1346301462') repeat;
}

/* line 18, ../scss/partials/_page.scss */
.page {
  display: none;
}

/* line 22, ../scss/partials/_page.scss */
.current {
  display: block;
}

@-webkit-keyframes collapsed {
  /* line 27, ../scss/partials/_page.scss */
  0% {
    top: 0;
  }

  /* line 30, ../scss/partials/_page.scss */
  100% {
    top: -76px;
  }
}

@-webkit-keyframes expanded {
  /* line 36, ../scss/partials/_page.scss */
  0% {
    top: -76px;
  }

  /* line 39, ../scss/partials/_page.scss */
  100% {
    top: 0px;
  }
}

/* line 44, ../scss/partials/_page.scss */
.navWrapper {
  position: fixed;
  top: -76px;
  width: 100%;
  z-index: 999;
}
/* line 49, ../scss/partials/_page.scss */
.navWrapper.expanded {
  top: 0px;
  -webkit-animation: expanded .5s 1;
}
/* line 54, ../scss/partials/_page.scss */
.navWrapper.collapsed {
  top: -76px;
  -webkit-animation: collapsed .5s 1;
}

/* line 60, ../scss/partials/_page.scss */
#navToggler {
  width: 100%;
}

/* line 64, ../scss/partials/_page.scss */
.page {
  width: 100%;
  position: absolute;
  top: 76px;
  left: 0;
}

/* line 73, ../scss/partials/_page.scss */
nav[role="main"] {
  position: relative;
  top: 0;
  width: 100%;
  background: url('../img/navBgColor.png?1346312469') repeat;
  border-bottom: 1px solid #606060;
}
/* line 80, ../scss/partials/_page.scss */
nav[role="main"] ul {
  *zoom: 1;
  margin-bottom: 3px;
}
/* line 76, ../scss/partials/_mixins.scss */
nav[role="main"] ul:before, nav[role="main"] ul:after {
  display: table;
  content: "";
}
/* line 79, ../scss/partials/_mixins.scss */
nav[role="main"] ul:after {
  clear: both;
}
/* line 85, ../scss/partials/_page.scss */
nav[role="main"] ul li {
  background: url('../img/m/navSeparator_320.png?1346310693') no-repeat right top;
  float: left;
  width: 25%;
  height: 76px;
  list-style: none;
}
/* line 92, ../scss/partials/_page.scss */
nav[role="main"] ul li a {
  color: black;
  font-size: 12px;
  font-size: 1.2rem;
  height: 26px;
  padding-top: 50px;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}
/* line 104, ../scss/partials/_page.scss */
nav[role="main"] ul li:last-child {
  background: none;
}
/* line 105, ../scss/partials/_page.scss */
nav[role="main"] ul li#home a {
  background: url('../img/m/navIcn_home_320.png?1346306629') no-repeat center 12px;
}
/* line 109, ../scss/partials/_page.scss */
nav[role="main"] ul li#solutions a {
  background: url('../img/m/navIcn_Solutions_320.png?1346306629') no-repeat center 12px;
}
/* line 113, ../scss/partials/_page.scss */
nav[role="main"] ul li#company a {
  background: url('../img/m/navIcn_Company_320.png?1346306629') no-repeat center 12px;
}
/* line 117, ../scss/partials/_page.scss */
nav[role="main"] ul li#work a {
  background: url('../img/m/navIcn_work_320.png?1346306629') no-repeat center 12px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 124, ../scss/partials/_page.scss */
  nav[role="main"] ul li#home a {
    background: url('../img/l/navIcn_home_640.png?1346306590') no-repeat center 12px;
    background-size: 38px 38px;
  }
  /* line 125, ../scss/partials/_page.scss */
  nav[role="main"] ul li#solutions a {
    background: url('../img/l/navIcn_Solutions_640.png?1346306591') no-repeat center 12px;
    background-size: 38px 38px;
  }
  /* line 126, ../scss/partials/_page.scss */
  nav[role="main"] ul li#company a {
    background: url('../img/l/navIcn_Company_640.png?1346306591') no-repeat center 12px;
    background-size: 38px 38px;
  }
  /* line 127, ../scss/partials/_page.scss */
  nav[role="main"] ul li#work a {
    background: url('../img/l/navIcn_work_640.png?1346306590') no-repeat center 12px;
    background-size: 38px 38px;
  }
}

@media all and (-webkit-transform-3d) {
  /* line 134, ../scss/partials/_page.scss */
  .collapsed {
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 350ms;
    animation-timing-function: ease-out;
    animation-duration: 350ms;
  }
}
/* line 143, ../scss/partials/_page.scss */
#navHandle {
  display: block;
  position: absolute;
  z-index: 1;
  background: url('../img/navHandle_320.png?1346312639') no-repeat;
  width: 47px;
  height: 39px;
  top: 79px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 143, ../scss/partials/_page.scss */
  #navHandle {
    background: url('../img/l/navHandle_640.png?1346822359') no-repeat;
    background-size: 47px 39px;
  }
}

/* line 157, ../scss/partials/_page.scss */
section[role="logo"] {
  height: 48px;
  background-color: #212121;
  border-bottom: 1px solid #2C2C2C;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}
/* line 166, ../scss/partials/_page.scss */
section[role="logo"] #logo {
  background: url('../img/m/rdhs_logo_320.png?1346306232') no-repeat 0 0;
  display: block;
  width: 173px;
  height: 23px;
  margin: 0 auto;
  margin-top: 15px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 166, ../scss/partials/_page.scss */
  section[role="logo"] #logo {
    background: url('../img/l/rdhs_logo_640.png?1346306226') no-repeat 0 0;
    background-size: 173px 23px;
  }
}

/* line 183, ../scss/partials/_page.scss */
#workSliderWrapper {
  width: 100%;
  padding-bottom: 10px;
  overflow: hidden;
}
/* line 188, ../scss/partials/_page.scss */
#workSliderWrapper h4 {
  font-family: "Helvetica W01 Roman", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
}
/* line 195, ../scss/partials/_page.scss */
#workSliderWrapper #workSlider {
  margin: 0 auto;
  padding-bottom: 20px;
  width: 270px;
  padding: 0;
  margin-bottom: 10px;
  opacity: 1;
}
/* line 205, ../scss/partials/_page.scss */
#workSliderWrapper #workSlider li div,
#workSliderWrapper #workSlider ul li,
#workSliderWrapper #workSlider ul li img {
  margin: 0 auto;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: 250px;
  height: 153px;
  display: block;
}
/* line 216, ../scss/partials/_page.scss */
#workSliderWrapper #workSlider img {
  -webkit-box-shadow: 0px 4px 8px black;
  -moz-box-shadow: 0px 4px 8px black;
  box-shadow: 0px 4px 8px black;
}
/* line 221, ../scss/partials/_page.scss */
#workSliderWrapper #homeSliderBullets {
  margin: 0 auto;
  width: 114px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 227, ../scss/partials/_page.scss */
#workSliderWrapper #homeSliderBullets .slideBullet {
  float: left;
  display: block;
  list-style: none;
  background: url('../img/sprites/galleryBullet_off_320.png?1346307553') no-repeat;
  margin: 0 5px 0 5px;
  width: 9px;
  height: 9px;
}
/* line 236, ../scss/partials/_page.scss */
#workSliderWrapper #homeSliderBullets .slideBullet.on {
  background: url('../img/sprites/galleryBullet_on_320.png?1346307552') no-repeat;
  width: 9px;
  height: 9px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 245, ../scss/partials/_page.scss */
  #workSliderWrapper #homeSliderBullets .slideBullet {
    background: url('../img/sprites/galleryBullet_off_640.png?1346307539') no-repeat;
    background-size: 9px 9px;
  }
  /* line 249, ../scss/partials/_page.scss */
  #workSliderWrapper #homeSliderBullets .slideBullet.on {
    background: url('../img/sprites/galleryBullet_on_640.png?1346307539') no-repeat;
    background-size: 9px 9px;
  }
}

/* line 260, ../scss/partials/_page.scss */
.sBorderBot, .sBorderTop {
  clear: both;
  margin: 0;
  height: 4px;
  border: 0;
  background-color: #434343;
  border-top: 1px solid #818181;
}

/* line 269, ../scss/partials/_page.scss */
.sBorderTop {
  -webkit-box-shadow: black -4px 0px 10px;
  -moz-box-shadow: black -4px 0px 10px;
  box-shadow: black -4px 0px 10px;
}

/* line 275, ../scss/partials/_page.scss */
#serviceSliderWrapper {
  background: url('../img/m/serviceSlider_tile.png?1346645518') repeat;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.5);
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 100%;
  overflow: hidden;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 275, ../scss/partials/_page.scss */
  #serviceSliderWrapper {
    background: url('../img/l/serviceSlider_tile_640.png?1346824791') repeat;
    background-size: 12px 5.5px;
  }
}
/* line 288, ../scss/partials/_page.scss */
#serviceSliderWrapper #serviceSliderWrapperInner {
  box-shadow: inset 0px -5px 5px rgba(0, 0, 0, 0.5);
}
/* line 292, ../scss/partials/_page.scss */
#serviceSliderWrapper #shadleft {
  position: absolute;
  display: block;
  z-index: 1;
  height: 107px;
  width: 40px;
  position: absolute;
  background: transparent url('../img/l/shadIEMobile_left.png?1347249659') repeat-y left 0;
  background-size: 40px 10px;
}
/* line 303, ../scss/partials/_page.scss */
#serviceSliderWrapper #shadright {
  position: absolute;
  display: block;
  z-index: 1;
  height: 107px;
  width: 40px;
  right: 0;
  position: absolute;
  background: transparent url('../img/l/shadIEMobile.png?1347248376') repeat-y right 0;
  background-size: 40px 10px;
}
/* line 315, ../scss/partials/_page.scss */
#serviceSliderWrapper #serviceSlider {
  margin: 0 auto;
  width: 106px;
  padding: 0;
  opacity: 1;
}
/* line 321, ../scss/partials/_page.scss */
#serviceSliderWrapper #serviceSlider ul li {
  margin: 0 auto;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: 108px;
  height: 105px;
  display: block;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
/* line 333, ../scss/partials/_page.scss */
#serviceSliderWrapper #serviceSlider ul li:first-child {
  border-left: 2px solid #000;
}
/* line 336, ../scss/partials/_page.scss */
#serviceSliderWrapper #serviceSlider ul li:last-child {
  border-right: 2px solid #000;
}
/* line 339, ../scss/partials/_page.scss */
#serviceSliderWrapper #serviceSlider ul li img {
  width: 110px;
  height: 105px;
  margin: 0 auto;
}

/* line 349, ../scss/partials/_page.scss */
html.cssgradients #serviceSliderWrapper #shadleft {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF000000', endColorstr='#FF000000');
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 100%);
}
/* line 354, ../scss/partials/_page.scss */
html.cssgradients #serviceSliderWrapper #shadright {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF000000', endColorstr='#FF000000');
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

/* line 360, ../scss/partials/_page.scss */
#contentWrapper {
  margin-top: 35px;
  width: 100%;
}
/* line 365, ../scss/partials/_page.scss */
#contentWrapper article header {
  height: 11px;
  position: relative;
  border-top: 1px solid #4b4b4b;
  border-bottom: 1px solid #000;
  background-color: #3d3d3d;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF3D3D3D', endColorstr='#FF343434');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d3d3d), color-stop(100%, #343434));
  background-image: -webkit-linear-gradient(top, #3d3d3d 0%, #343434 100%);
  background-image: -moz-linear-gradient(top, #3d3d3d 0%, #343434 100%);
  background-image: -o-linear-gradient(top, #3d3d3d 0%, #343434 100%);
  background-image: linear-gradient(top, #3d3d3d 0%, #343434 100%);
}
/* line 374, ../scss/partials/_page.scss */
#contentWrapper article header .ribbon {
  background-color: transparent;
  background: url('../img/m/ribbon_320.png?1346651199') no-repeat;
  width: 47px;
  height: 83px;
  padding-top: 14px;
  position: absolute;
  right: 20px;
  top: -5px;
}
/* line 384, ../scss/partials/_page.scss */
#contentWrapper article header .ribbon .month {
  font-size: 15px;
  font-size: 1.5rem;
  display: block;
  text-align: center;
  color: #7f0606;
  text-shadow: 0px 1px 1px #b04141;
  width: 45px;
}
/* line 393, ../scss/partials/_page.scss */
#contentWrapper article header .ribbon .day {
  font-size: 27px;
  font-size: 2.7rem;
  color: #7f0606;
  text-shadow: 0px 1px 1px #b04141;
  display: block;
  text-align: center;
  width: 44px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 374, ../scss/partials/_page.scss */
  #contentWrapper article header .ribbon {
    background: url('../img/l/ribbon_640.png?1346651162') no-repeat;
    background-size: 47px 83px;
  }
}
/* line 409, ../scss/partials/_page.scss */
#contentWrapper article section {
  min-height: 80px;
  padding: 10px 90px 20px 20px;
  border-top: 1px solid #393939;
  background-color: #2a2a2a;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF2A2A2A', endColorstr='#FF202020');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2a2a2a), color-stop(100%, #202020));
  background-image: -webkit-linear-gradient(top, #2a2a2a 0%, #202020 100%);
  background-image: -moz-linear-gradient(top, #2a2a2a 0%, #202020 100%);
  background-image: -o-linear-gradient(top, #2a2a2a 0%, #202020 100%);
  background-image: linear-gradient(top, #2a2a2a 0%, #202020 100%);
}
/* line 418, ../scss/partials/_page.scss */
#contentWrapper article section h1 {
  line-height: 1.3em;
  margin-bottom: 10px;
  font-size: 11px;
  font-size: 1.1rem;
  color: white;
  text-shadow: 0px -1px 2px black;
}
/* line 426, ../scss/partials/_page.scss */
#contentWrapper article section p {
  line-height: 1.4em;
  font-size: 11px;
  font-size: 1.1rem;
  color: #999;
  text-shadow: 0px -1px 1px black;
}
/* line 437, ../scss/partials/_page.scss */
#contentWrapper article:last-child section {
  background-color: #2a2a2a;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF2A2A2A', endColorstr='#FF121212');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2a2a2a), color-stop(100%, #121212));
  background-image: -webkit-linear-gradient(top, #2a2a2a 0%, #121212 100%);
  background-image: -moz-linear-gradient(top, #2a2a2a 0%, #121212 100%);
  background-image: -o-linear-gradient(top, #2a2a2a 0%, #121212 100%);
  background-image: linear-gradient(top, #2a2a2a 0%, #121212 100%);
  -webkit-box-shadow: black -4px 0px 10px;
  -moz-box-shadow: black -4px 0px 10px;
  box-shadow: black -4px 0px 10px;
}

/* line 446, ../scss/partials/_page.scss */
.map {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 10px 0 10px;
}
/* line 451, ../scss/partials/_page.scss */
.map img {
  width: 100%;
}

/* line 456, ../scss/partials/_page.scss */
.vcard {
  margin: 30px 10px 30px 10px;
}
/* line 459, ../scss/partials/_page.scss */
.vcard h1 {
  line-height: 1.3em;
  margin-bottom: 10px;
  font-size: 11px;
  font-size: 1.1rem;
  color: white;
  text-shadow: 0px -1px 2px black;
}
/* line 467, ../scss/partials/_page.scss */
.vcard hr {
  border: none;
  height: 1px;
  background-color: #333;
  clear: both;
}
/* line 474, ../scss/partials/_page.scss */
.vcard .url {
  color: #999;
}
/* line 478, ../scss/partials/_page.scss */
.vcard .email, .vcard .tel {
  cursor: pointer;
  float: left;
  line-height: 29px;
  margin-bottom: 10px;
}
/* line 485, ../scss/partials/_page.scss */
.vcard .value {
  margin-left: 10px;
  color: #f32f2f;
}
/* line 490, ../scss/partials/_page.scss */
.vcard .adr {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1.3em;
  color: #999;
  text-shadow: 0px -1px 1px black;
  margin-bottom: 20px;
}
/* line 498, ../scss/partials/_page.scss */
.vcard .links {
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 1.3em;
  color: #f32f2f;
}
/* line 504, ../scss/partials/_page.scss */
.vcard .fax {
  color: #999;
}
/* line 508, ../scss/partials/_page.scss */
.vcard .contactIcns {
  background: url('../img/sprites/sprite_contactIcns.png?1346715858') no-repeat;
  display: block;
  float: right;
  cursor: pointer;
}
/* line 515, ../scss/partials/_page.scss */
.vcard .icn_email {
  width: 28px;
  height: 29px;
  background-position: -39px 0px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 515, ../scss/partials/_page.scss */
  .vcard .icn_email {
    background: url('../img/l/icn_email_640.png?1346824405') no-repeat;
    background-size: 28px 29px;
  }
}
/* line 525, ../scss/partials/_page.scss */
.vcard .icn_phone {
  width: 28px;
  height: 29px;
  background-position: 0px 0px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 525, ../scss/partials/_page.scss */
  .vcard .icn_phone {
    background: url('../img/l/icn_phone_640.png?1346824405') no-repeat;
    background-size: 28px 29px;
  }
}

/* line 536, ../scss/partials/_page.scss */
#footerContainer {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

/* line 544, ../scss/partials/_page.scss */
footer {
  background-color: #363636;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF363636', endColorstr='#FF363636');
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #363636), color-stop(45%, #6d6d6d), color-stop(48%, #6d6d6d), color-stop(51%, #6d6d6d), color-stop(54%, #6d6d6d), color-stop(57%, #6d6d6d), color-stop(100%, #363636));
  background-image: -webkit-linear-gradient(left, #363636 0%, #6d6d6d 45%, #6d6d6d 48%, #6d6d6d 51%, #6d6d6d 54%, #6d6d6d 57%, #363636 100%);
  background-image: -moz-linear-gradient(left, #363636 0%, #6d6d6d 45%, #6d6d6d 48%, #6d6d6d 51%, #6d6d6d 54%, #6d6d6d 57%, #363636 100%);
  background-image: -o-linear-gradient(left, #363636 0%, #6d6d6d 45%, #6d6d6d 48%, #6d6d6d 51%, #6d6d6d 54%, #6d6d6d 57%, #363636 100%);
  background-image: linear-gradient(left, #363636 0%, #6d6d6d 45%, #6d6d6d 48%, #6d6d6d 51%, #6d6d6d 54%, #6d6d6d 57%, #363636 100%);
}
/* line 550, ../scss/partials/_page.scss */
footer .clientSliderWrapper {
  width: 100%;
  overflow: hidden;
}
/* line 554, ../scss/partials/_page.scss */
footer .clientSliderWrapper #clientSlider {
  margin: 0 auto;
  width: 106px;
  padding: 0;
}
/* line 559, ../scss/partials/_page.scss */
footer .clientSliderWrapper #clientSlider ul li {
  margin: 0 auto;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: 108px;
  height: 105px;
  display: block;
}
/* line 569, ../scss/partials/_page.scss */
footer .clientSliderWrapper #clientSlider ul li img {
  height: 105px;
  margin: 0 auto;
}

/* line 579, ../scss/partials/_page.scss */
.spinner {
  position: absolute;
  top: 46%;
}
